body {
    background: url(../assets/PageBackgrounds/vr.svg) no-repeat;
    font-family: sans-serif;
}

.logo-git{
    width: 64px;
    filter: drop-shadow(1px 1px 1px #222);
}

.logo-face{
    width: 50px;
    filter: drop-shadow(1px 1px 1px #222);
}

.logo-discord{
    width: 70px;
    filter: drop-shadow(1px 1px 1px #222);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

nav{
    height: 10vh;
}

.hamburger{
    filter: drop-shadow(1px 1px 1px #222);
}
.hamburger:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.aztec-logo:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

h3{
    color: white;
    letter-spacing: 14px;
    font-weight: 500;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.title-bar{
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s;
    padding-top: 20px;
}
.title-bar img:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
}

.nav-links{
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    transition: 0.3s;
}

.title-aztec .word1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 40px;
    color: #fefefe;
    letter-spacing: 10px;
    cursor: none;
    border-bottom: 1px solid transparent;
  }
  .title-aztec .word2{
    font-family: 'DM Sans', sans-serif;
    font-size: 45px;
    color: #9b3137;
    letter-spacing: 10px;
    cursor: none;
    border-bottom: 1px solid transparent;
  }
.title-aztec .word1:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    border-bottom: 1px solid transparent;
    border-color: white;
  }

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
    font-weight: 300;
    letter-spacing: 6px
}
.nav-links li a:hover{
    letter-spacing: 7px;
    transition: 0.3s;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}
.image{
    position: relative;
    width: 100%;
}
.hover{ 
    transform: translate(-30px, -30px);
    transition: 1s;
    z-index: -4;
    position: relative;
}

.reverse-hover{
    transform: translate(30px, 30px);
    transition: 1s;
}
.landing h1{
    transition: 1s;
    padding-top: 50px;
    padding-left: 100px;
}

.unity {
    position: absolute;
    z-index: -2;
}

.fake-burg{
    width: 60%;
}

h1 {
    position: absolute;
    top: 100px;
    width: 60%;
    font-size: 200px;
    color: white;
    left: 20%;
}

.logo{
    width: 100%;
}

.logo:hover{
    cursor: pointer;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);

}

h2{
    /* display: flex; */
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    color: white;
    font-size: 40px;
}

.text-body{
    position: absolute;
    align-items: center;
    width: 100%;
    bottom: 25%;
    right: 15%
    
}

@media screen and (max-width: 768px){

    h1{
        font-size: 100px;
    }
    .title-aztec .word1 {
        font-family: 'DM Sans', sans-serif;
        font-size: 27px;
        color: #fefefe;
        letter-spacing: 10px;
        cursor: none;
        border-bottom: 1px solid transparent;
      }
    .title-aztec .word2{
        font-family: 'DM Sans', sans-serif;
        font-size: 27px;
        color: #9b3137;
        letter-spacing: 10px;
        cursor: none;
        border-bottom: 1px solid transparent;
      }
    .nav-links{
        position: fixed;
        background: rgb(155, 49, 55);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        transition: 1.5s;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
        opacity: 0;
    }
    .nav-links.open{
        clip-path: circle(1200px at 90% -20%);
        -webkit-clip-path: circle(1200px at 90% -20%);
        pointer-events: all;
        transition: .7s;
        opacity: 1;
    }
    .title-bar .logo{
        width: 50%;
    }

    .landing{
        flex-direction: column;
    }

    nav{
        position: relative;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
    }
    
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
        border-radius: 20px;
    }

}

@media screen and (max-width: 501px){

    h1{
        font-size: 100px;
    }
    .title-aztec .word1 {
        font-family: 'DM Sans', sans-serif;
        font-size: 20px;
        color: #fefefe;
        letter-spacing: 10px;
        cursor: none;
        border-bottom: 1px solid transparent;
      }
      .title-aztec .word2{
        font-family: 'DM Sans', sans-serif;
        font-size: 20px;
        color: #9b3137;
        letter-spacing: 10px;
        cursor: none;
        border-bottom: 1px solid transparent;
      }
    .nav-links{
        position: fixed;
        background: rgb(155, 49, 55);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        transition: 1.5s;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
        opacity: 0;
    }
    .nav-links.open{
        clip-path: circle(1200px at 90% -20%);
        -webkit-clip-path: circle(1200px at 90% -20%);
        pointer-events: all;
        transition: .7s;
        opacity: 1;
    }
    .title-bar .logo{
        width: 50%;
    }

    .landing{
        flex-direction: column;
    }

    nav{
        position: relative;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
    }
    
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
        border-radius: 20px;
    }

}

@media screen and (max-width: 2000px){

    .nav-links{
        position: fixed;
        background: rgb(155, 49, 55);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        transition: 1.5s;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
        opacity: 0;
    }
    .nav-links.open{
        clip-path: circle(15900px at 90% -20%);
        -webkit-clip-path: circle(1900px at 90% -20%);
        pointer-events: all;
        transition: .7s;
        opacity: 1;
    }

    .landing{
        flex-direction: column;
    }

    nav{
        position: relative;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 64%;
        transform: translate(-5%, -50%);
    }
    
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
        border-radius: 20px;
    }
}
@media screen and (max-width: 1346px){

h2 {
    width: 80%;
}

}
