* {
    margin: 0;
    padding: 0;
    transition: .3s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background: url(../assets/PageBackgrounds/background-long.svg) no-repeat;
    font-family: sans-serif;
}
.projects-frame{
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 4rem;
    height: 500px;
    margin-top: 4rem;
}
.image-container
{
    position: relative;
    display: inline-grid;
    margin: 0 auto;
    right: 7%;
    width: 50%;
}
.content
{
    margin: 0 auto;
}

.image-container h1, p{
    color: rgb(208, 195, 195);
    text-align: center;
    position: relative;
    margin: 6px auto;
    padding: 10px 10px 10px 10px;
}
.crystal 
{
    height: 500px;
    width: 500px;
    position: absolute;
    border-radius: 100%;
}

.galaxy
{
    height: 500px;
    width: 500px;
    position: absolute;
    border-radius: 100%;
}

.image-overlay
{
    top: 30%;
    left: 18%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50px;
}




























/* Repeated code for each page, to keep header consistant */
.abs {
    position: absolute;
}

.hamburger{
    z-index: 2;
}
.hamburger:hover{
    -webkit-filter: drop-shadow(3px 3px 3px white);
    filter: drop-shadow(3px 3px 3px white);
}

.aztec-logo:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.title-bar{
    z-index: -1;
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s;
}
.title-bar img:hover{
    -webkit-filter: drop-shadow(1px 1px 1px  white);
    filter: drop-shadow(1px 1px 1px white);
    cursor: pointer;
}

.nav-links{
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    transition: 0.3s;
}

.title-aztec .word1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    color: #fefefe;
    letter-spacing: 10px;
    cursor: none;
    border-bottom: 1px solid transparent;
  }
  .title-aztec .word2{
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    color: #9b3137;
    letter-spacing: 10px;
    cursor: none;
    border-bottom: 1px solid transparent;
  }
.title-aztec .word1:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    border-bottom: 1px solid transparent;
    border-color: white;
  }

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
    font-weight: 300;
    letter-spacing: 6px
}
.nav-links li a:hover{
    letter-spacing: 7px;
    transition: 0.3s;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#navbar{
    overflow: hidden;
    position: relative;
    top: 0; 
    width: 100%;
}

.fake-burg{
    width: 60%;
}

.logo{
    width: 100%;
}

.logo:hover{
    cursor: pointer;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);

}

.text-body{
    position: absolute;
    align-items: center;
    width: 100%;
    bottom: 25%;
    right: 15%
}

@media screen and (max-width: 768px){

    h1{
        font-size: 100px;
    }
    .nav-links{
        position: fixed;
        background: rgb(155, 49, 55);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        transition: 1.5s;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
        opacity: 0;
    }
    .nav-links.open{
        clip-path: circle(1200px at 90% -20%);
        -webkit-clip-path: circle(1200px at 90% -20%);
        pointer-events: all;
        transition: .7s;
        opacity: 1;
    }

    .card{
        display: block;
    }

    .landing{
        flex-direction: column;
        z-index: 0;
    }

    nav{
        position: relative;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
    }
    
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
        border-radius: 20px;
    }

    .image, .text-body{
        z-index: -1;
    }
}

@media screen and (max-width: 1800px){

    .nav-links{
        position: fixed;
        background: rgb(155, 49, 55);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        transition: 1.5s;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
        opacity: 0;
    }
    .nav-links.open{
        clip-path: circle(15900px at 90% -20%);
        -webkit-clip-path: circle(1900px at 90% -20%);
        pointer-events: all;
        transition: .7s;
        opacity: 1;
    }

    .landing{
        flex-direction: column;
        z-index: 0;
    }

    nav{
        position: relative;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 64%;
        transform: translate(-5%, -50%);
    }
    
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
        border-radius: 20px;
    }

    .image, .text-body{
        z-index: -1;
    }
}

@media screen and (max-width: 1346px){
}