*{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-transform: uppercase;
}

body{
    background-color: black;
}

h1, h2{
    text-align: center;
    color: white;
    letter-spacing: 25px;
    transition: .5s;
}
    h1:hover, h2:hover {
        cursor: pointer;
    }

.space{
    letter-spacing: 20px;
    transition: .5s;
    position: relative;
}

.split{
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 10;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-image: url(../assets/Gal2.jpg);
    height: 990px;
}

.right {
    right: 0;
    background-image: url(../assets/Drugs\ molecule\ chemistry\ wallpaper\ 1440x900\ 341424\ WallpaperUP.jpg);
    height: 990px;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* For arrows */
i {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
p {
    text-align: center;
    width: 100%;
}
.rightarrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
.leftarrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.arrowcontainer{
    position: relative;
}












@media screen and (max-width: 846px){
    h1, h2{
        text-align: center;
        color: white;
        letter-spacing: 13px;
        transition: .5s;
    }
}

.aztec-logo{
    filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));
}

.logo-git{
    width: 64px;
    filter: drop-shadow(1px 1px 1px #222);
}

.logo-face{
    width: 50px;
    filter: drop-shadow(1px 1px 1px #222);
}


























/* Repeated code for each page, to keep header consistant */
.abs {
    position: absolute;
}

.hamburger{
    z-index: 1000;
}
.hamburger:hover{
    -webkit-filter: drop-shadow(3px 3px 3px white);
    filter: drop-shadow(3px 3px 3px white);
}

.aztec-logo:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.title-bar{
    z-index: -1;
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s;
}
.title-bar img:hover{
    -webkit-filter: drop-shadow(1px 1px 1px  white);
    filter: drop-shadow(1px 1px 1px white);
    cursor: pointer;
}

.nav-links{
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    transition: 0.3s;
}

.title-aztec .word1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    color: #fefefe;
    letter-spacing: 10px;
    cursor: none;
    border-bottom: 1px solid transparent;
  }
  .title-aztec .word2{
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    color: #9b3137;
    letter-spacing: 10px;
    cursor: none;
    border-bottom: 1px solid transparent;
  }
.title-aztec .word1:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    border-bottom: 1px solid transparent;
    border-color: white;
  }

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
    font-weight: 300;
    letter-spacing: 6px
}
.nav-links li a:hover{
    letter-spacing: 7px;
    transition: 0.3s;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#navbar{
    overflow: hidden;
    position: relative;
    top: 0; 
    width: 100%;
}

.fake-burg{
    width: 60%;
}

.logo{
    width: 100%;
}

.logo:hover{
    cursor: pointer;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);

}

.text-body{
    position: absolute;
    align-items: center;
    width: 100%;
    bottom: 25%;
    right: 15%
}

@media screen and (max-width: 768px){

    h1{
        font-size: 100px;
    }
    .nav-links{
        position: fixed;
        background: rgb(155, 49, 55);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        transition: 1.5s;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
        opacity: 0;
    }
    .nav-links.open{
        clip-path: circle(1200px at 90% -20%);
        -webkit-clip-path: circle(1200px at 90% -20%);
        pointer-events: all;
        transition: .7s;
        opacity: 1;
    }

    .card{
        display: block;
    }

    .landing{
        flex-direction: column;
        z-index: 0;
    }

    nav{
        position: relative;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
    }
    
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
        border-radius: 20px;
    }

    .image, .text-body{
        z-index: -1;
    }
}

@media screen and (max-width: 2000px){

    .nav-links{
        position: fixed;
        background: rgb(155, 49, 55);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        transition: 1.5s;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
        opacity: 0;
    }
    .open{
        clip-path: circle(2500px at 90% -20%);
        -webkit-clip-path: circle(2500px at 90% -20%);
        pointer-events: all;
        transition: .7s;
        opacity: 1;
    }

    .landing{
        flex-direction: column;
        z-index: 0;
    }

    nav{
        position: relative;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 64%;
        transform: translate(-5%, -50%);
    }
    
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
        border-radius: 20px;
    }

    .image, .text-body{
        z-index: -1;
    }
}

@media screen and (max-width: 1346px){
}